
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ThisPlay</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
  <div class="container">
    <div class="jumbotron">
    <div class="container">
      <h2>ThisPlay</h2>
      <p style="font-size:20px">Using ThisPlay platform you can choose customizable templates for menus and decorations.<br>
      Sign in to continue.</p>
    </div>
  </div>
  <div class="heading">SignIn with Google</div>
  <div class="buttons">
    <a href="/auth/google"><button class="btn btn1">Google</button></a>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
